<mat-toolbar>Genre</mat-toolbar>
<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
  <h6 class="alert-heading">ERROR!</h6>
  <p>{{errorMessage}}</p>
</div>

<mat-nav-list class="pl-2">
  <a mat-list-item href="#" *ngFor="let genre of allGenre">
    <mat-checkbox color="warn" (change)="valueChanged(genre, $event)">{{genre.name}}</mat-checkbox>
  </a>
</mat-nav-list>
