<app-nav-left></app-nav-left>
<router-outlet></router-outlet>

<!--
<main role="main" class="container-fluid">
  <div class="row">
    <div class="col-3">
      <app-nav-left></app-nav-left>

    </div>
    <div class="col-9">
      <router-outlet></router-outlet>
    </div>

  </div>
</main>
-->
