<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #drawer mode="side">
    <app-genre-list></app-genre-list>
  </mat-drawer>

    <button type="button" mat-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>

    <app-movie-listing></app-movie-listing>

</mat-drawer-container>
