.mat-slider-horizontal {
  width: 300px;
}

.mat-toolbar .caption {
  font-size: small;
}

.card-img-top  {
  height: 70% !important;
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);


}

.circle {
  min-width: 2em;
  mind-height: 2em;
  font-size: small;
  padding: 0.2em;
  color: #ff889a;
  border: 2px solid #ff889a;
  background: #FFFF02;
  border-radius: 50%
}

