<div class="container-fluid">
  <mat-toolbar color="primary" class="caption mb-2">
    <div class="row">
      <div class="col-4">Now Playing
        <button mat-mini-fab color="warn">
          <h4>{{totalMovies}}</h4>
        </button>
        Movies
      </div>
      <div class="col-6">
        <span >Average Raging</span>
        <mat-slider value="{{rating}}" min="0" max="10"
            [thumbLabel]="true"
            [tickInterval]="0.5"
            [step]="0.5"
                    (valueChange)="updateNowPlayingMovieList($event)">
        </mat-slider>
        <button mat-mini-fab color="accent">
          <h4>{{rating}}</h4>
        </button>
      </div>

    </div>
  </mat-toolbar>

  <div class="card-columns">
    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
      <h4 class="alert-heading">ERROR!</h4>
      <p>{{errorMessage}}</p>
      <hr>
      <p class="mb-0">Please contact support on 999-999-999</p>
    </div>

    <div *ngIf="!errorMessage && totalMovies === 0" class="alert alert-info" role="alert">
      <h4 class="alert-heading">No Data found</h4>
      <p>No movies found for the rating selected.  Please update movie rating to retrieve other movies.</p>
      <hr>
      <p class="mb-0">Please refine or reset the filter options</p>
    </div>


    <div class="card" *ngFor="let card of allMovies">
      <div class="card-header">
        <h5 class="card-title">{{card.title}}
          <span class="circle">{{card.vote_average | number : '1.1-2'}}</span>
        </h5>

      </div>
      <img class="card-img-top" src="https://image.tmdb.org/t/p/w300/{{card.poster_path}}" alt="Card image cap1">
      <div class="card-body">
        <mat-chip-list>
          <mat-chip color="primary" selected>Genre</mat-chip>
           <mat-chip *ngFor="let gName of card.genre_names">{{gName}}</mat-chip>
        </mat-chip-list>


        <p class="card-text">{{card.overview}}</p>
      </div>
    </div>
  </div>
</div>
