/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

@import "variables";

// Styles
body {
  font-family: $roboto-slab;
  font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $open-sans;
  font-weight: normal;
}

.button {
  font-family: $roboto-slab;
  font-weight: bold;
}
